translation-zh/latex/*.aux
translation-zh/latex/*.fdb_latexmk
translation-zh/latex/*.fls
translation-zh/latex/*.log
translation-zh/latex/*.out
translation-zh/latex/*.toc
translation-zh/latex/*.synctex.gz
translation-zh/latex/*.pdf
translation-zh/site/
translation-zh/site-docs/
translation-zh/content/assets/
translation-zh/content/original/images/
translation-zh/content/original/extracted/
translation-zh/content/original/extracted-check/
__pycache__/
